@import "./styles/normalize.css";

@font-face {
  font-family: "Archangelsk";
  src: url(/CyberPuke/fonts/archangelsk-font.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/CyberPuke/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
