@font-face {
  font-family: "Archangelsk";
  src: url(/CyberPuke/archangelsk-font.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/CyberPuke/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
